.carousel-item{
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
}

.carousel-item > img{
     width: 100%;
     object-fit: cover;
}

.form-div{
     width: 500px;
     height: 500px;
}

.form{
     width: 300px;
}

.form-img{
     left: 25px;
     width: 20px;
     height: 20px;
}

.input-div span{
     position: absolute;
     pointer-events: none;
     left: 40px;
     top: 8.5px;
     transition: .7s;
}

.input-div input:focus{
     border: 1px solid #206CDF !important;
}

.input-div input:valid ~ span,
.input-div input:focus ~ span{
     color: #206CDF !important;
     transform: translateX(-25px) translateY(-20px);
     padding: 0 .4rem;
     background-color: #030B19;
     transition: .7s;
}

.section{
     top: 70px;
}

.btn:hover{
     background-color: #1151b1;
}

@media screen and (max-width:768px) {
     .section{
          display: flex;
          align-items: center;
          
     }
     .form-div{
          margin-right: 0% !important;
     }
}
